# Ignore everything
*

# Except files with an extension, or the makefile
!*.*
!*/
!Makefile

# Also everything in tcpserver, .zip, .o, depend-, and VSCode-related
cpp/tcpserver/*
*.zip
*.o
depend-*
settings.json